.m-1 {
    margin: 8px;
}

.m-2 {
    margin: 16px;
}

.mr-8 {
    margin-right: 64px;
}

.p-2 {
    padding: 16px;
}

.ml-1 {
    margin-left: 8px;
}

.mt-2 {
    margin-top: 16px;
}

.normal {
    line-height: 1.43;
    color: #212121;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
}

.cart {
    padding: 18px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    width: 98%;
    border: none;
    float: left;
    background: #ff9f00;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    vertical-align: super;
    cursor: pointer;
    outline: none;
}

.center {
    text-align: center;
}

.nofav {
    text-align: center;
    margin-top: 10%;
}


/* Aylen */

.button.button--aylen {
    background: #3f51b5;
    color: #fff;
    overflow: hidden;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.button--aylen.button--inverted {
    background: none;
    color: #fff;
}

.button--aylen::before,
.button--aylen::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--aylen::before {
    background: #7986cb;
}

.button--aylen::after {
    background: rgba(35, 35, 39, 0.747);
}

.button--aylen:hover {
    color: #fff;
}

.button--aylen:hover::before,
.button--aylen:hover::after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.button--aylen:hover::after {
    -webkit-transition-delay: 0.175s;
    transition-delay: 0.175s;
}

.button--border-thick {
    border: 2px solid;
}

img {
    max-width: 100%;
    max-height: 100%;
}