<div *ngIf="usersGift.length === 0" class="nofav"> No Favorites Added </div>

<div *ngFor="let gift of usersGift" class="m-2" style="margin-bottom: 1%;">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ gift.name }}
                </mat-panel-title>
                <mat-panel-description>
                    {{ gift.brand }}
                </mat-panel-description>
                <span class="mr-8"> {{ gift.buyoutPoints }} </span>
            </mat-expansion-panel-header>

            <div fxLayout="row" class="p-2" fxLayout.sm="column" fxLayout.lt-md="column">
                <div fxFlex="50">
                    <img [src]="gift.imageUrl" onerror="this.src='../../../assets/images/fallback.png'" [title]="gift.name" />
                </div>
                <div fxFlex="50">
                    <div fxLayout="row" class="mt-2">
                        <div fxFlex class="normal"> {{ gift.desc }} </div>
                    </div>
                    <div fxLayout="row">
                        <div fxFlex="25" class="center m-1">
                            <button mat-raised-button color="primary" class="button button--border-thick button--aylen button--border-thin button--round-s" (click)="openDialogForGiftNow(gift)" style="margin:15px">
                <i class="material-icons" style="font-size: 18px;"> local_grocery_store </i> GIFT NOW
              </button>
                        </div>
                        <div fxFlex="50"> </div>
                        <div fxFlex="25" class="center m-1">
                            <button mat-raised-button color="primary" class="button button--border-thick button--aylen button--border-thin button--round-s" (click)="removeFromFavorite(gift.id)" style="margin:15px">
                <i class="material-icons" style="font-size: 18px;">
                  remove_shopping_cart
                </i> REMOVE
              </button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<!-- <div fxLayout="row" fxLayout.sm="column">
    <div fxFlex="50">
        Hi
    </div>
    <div fxFlex="50">
        Hi
    </div>
</div> -->