.my-3 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.pt-3 {
    padding-top: 24px;
}

.center {
    text-align: center;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}

.right {
    float: right;
}
