<div *ngIf="data.message === 'deletecard'">
    <h1 mat-dialog-title>do you want to delete this card {{data.gift.name}} ? </h1>
    <div mat-dialog-content>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="delete(data.gift.id)">Yes</button>
        <button mat-button (click)="close()">No</button>
    </div>
</div>

<form [formGroup]="EditForm" *ngIf="data.message === 'editcard'">
    <h1 mat-dialog-title>{{data.gift.name}}</h1>
    <div>
        
            <mat-form-field style="width: 100%;">
                <input matInput type="text" placeholder="Name" formControlName="name">                
                <mat-error *ngIf="EditForm.controls.name.hasError('required')">This is required</mat-error>
            </mat-form-field>
            
            <mat-form-field style="width: 100%;">
                <input matInput type="text" placeholder="Brand" formControlName="brand">                
                <mat-error *ngIf="EditForm.controls.brand.hasError('required')">This is required</mat-error>
            </mat-form-field>

           <mat-form-field style="width: 100%;">
                <textarea matInput type="text" required placeholder="Description" formControlName="desc"></textarea>
                <mat-error *ngIf="EditForm.controls.desc.hasError('required')">This is required</mat-error>
           </mat-form-field>
           
            <mat-form-field style="width: 100%;">
                <input matInput type="text" required placeholder="ImageURL" formControlName="imageUrl">
                <mat-error *ngIf="EditForm.controls.imageUrl.hasError('required')">This is required</mat-error>
            </mat-form-field>
             

            <mat-form-field required style="width: 100%;">
                <input matInput placeholder="Buyout Points" type="text" formControlName="buyoutPoints">
                <mat-error *ngIf="EditForm.controls.buyoutPoints.hasError('required')">This is required</mat-error>
                <mat-error *ngIf="EditForm.controls.buyoutPoints.hasError('pattern')">Only numbers allowed</mat-error>
                <mat-error *ngIf="EditForm.controls.buyoutPoints.hasError('maxlength')">Please enter a value below 99999</mat-error>
            </mat-form-field>

             <mat-form-field required style="width: 100%;">
                <input matInput placeholder="Rating" type="text" formControlName="rating">
                <mat-error *ngIf="EditForm.controls.rating.hasError('required')">This is required</mat-error>
                <mat-error *ngIf="EditForm.controls.rating.hasError('pattern')">Kindly enter a valid rating example: 4</mat-error>
                <mat-error *ngIf="EditForm.controls.rating.hasError('maxlength')">Kindly enter a valid rating example: 4</mat-error>
             </mat-form-field>

             <mat-form-field required style="width: 100%;">
                <input matInput placeholder="Discounts" type="text" formControlName="discounts">
                <mat-error *ngIf="EditForm.controls.discounts.hasError('required')">This is required</mat-error>
                <mat-error *ngIf="EditForm.controls.discounts.hasError('pattern')">Enter a valid percentage eg: 98%</mat-error>
                <mat-error *ngIf="EditForm.controls.discounts.hasError('maxlength')">Too many characters, Enter a percentage from 1 - 99</mat-error>
             </mat-form-field>

            <!--  <mat-form-field style="width: 100%;"><input matInput placeholder="Category" type="text"
                formControlName="categoryId"></mat-form-field> -->
    
           <mat-form-field style="width: 100%;">
            <mat-label>Category Id</mat-label>
            <mat-select formControlName="categoryId">
                <mat-option [value]="data.gift.categoryId">{{categoryname}}</mat-option>
                <mat-option *ngFor="let c of category" [value]="c.id" >
                        {{ c.name }} 
                </mat-option>
            </mat-select>
            <mat-error *ngIf="EditForm.controls.categoryId.hasError('required')">This is required</mat-error>
            </mat-form-field>
        

    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="editgift()">Save</button>
        <button mat-button (click)="close()">Cancel</button>
    </div>
</form>