<mat-toolbar color="primary">
  <mat-toolbar-row class="header-box-shadow">
    <button mat-button class="header-logo" (click)="routeToMainPage()">YoYoGift</button>
    <app-search class="search"></app-search>
    <span class="example-fill-remaining-space"></span>
    <div style="margin-right: 10px">
      <button mat-button (click)="routeToAdminDashboard()" *ngIf="isAdmin" translate>Go To Dashboard</button>
      <button *ngIf="!loggedIn" mat-icon-button (click)="loginWithGoogle()">
        <img src="assets/images/google-icon.png" alt="google-login">
      </button>
      <button mat-icon-button [matMenuTriggerFor]="user" *ngIf="loggedIn && !isAdmin">
        <img [src]="img" alt="" class="imageStyle">
      </button>
      <mat-menu #user="matMenu">
        <button mat-menu-item routerLink='/gifts/favorite' routerLinkActive="router-link-active"
          translate>Favourites</button>
        <button mat-menu-item routerLink="/profile" translate>Profile</button>
        <button mat-menu-item (click)="onLogout()">Logout</button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="profile" *ngIf="isAdmin">
        <img [src]="img" alt="" class="imageStyle">
      </button>
      <mat-menu #profile="matMenu">
        <button mat-menu-item (click)="AddCard()">Add Gift Card</button>
        <button mat-menu-item [routerLink]="['/admin/userstats']">User Status</button>
        <button mat-menu-item (click)="onLogout()">Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<app-nav-bar></app-nav-bar>