<mat-card id={{data.id}}>
    <mat-card-header>
        <mat-card-title>{{data.name}}</mat-card-title>
        <mat-card-subtitle>{{data.brand}}</mat-card-subtitle>
    </mat-card-header>
    <img [src]="data.imageUrl" onerror="this.src='../../../../assets/images/fallback.png'">
    <mat-card-actions>
        <mat-card-title class="rating">Rating {{data.rating}}</mat-card-title>
        <div class="overlay">
            <a href="javascript:void(0);" *ngIf="isAdmin" (click)="editgift()"><i style="float:left"
                    class="material-icons">edit</i></a>
            <a href="javascript:void(0);" *ngIf="isAdmin" (click)="dialog()"><i style="float:right"
                    class="material-icons">delete</i></a>
            <div class="text">{{data.buyoutPoints}} points<br>
                <button
                    class="view-details-btn button button--moema button--text-thick button--text-upper button--size-s"
                    mat-stroked-button color="primary" (click)="openGiftDetails(data.id)">View Details</button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>