// .col {
//   float: left;
//   margin: 10px
// }

.vscroll {
    height: 70vh;
    width: 100%;
}


// .overlay {
//     position: fixed;
//     width: 100vw;
//     height: 100vh;
//     top: 0;
//     left:0;
//     z-index: 1000;
//     background-color: gray;
    
// }

.marginClass {
    margin-left: 9%;
}

