<button mat-button (click)="atoz()">A to Z</button>
<button mat-button (click)="ztoa()">Z to A</button>
<button mat-button (click)="priceLow()">Price <mat-icon>arrow_downward</mat-icon></button>
<button mat-button (click)="priceHigh()">Price <mat-icon>arrow_upward</mat-icon></button>
<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column">
  <div fxFlex="20" *ngIf="!isSearch">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title translate>Header.FilterByBrands</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let brand of brands">
          <mat-checkbox (change)="checkBrand(brand)" style="margin: 15px">{{brand}}</mat-checkbox>
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title translate>Header.FilterByPoints</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-radio-group aria-label="Select an option">
          <ng-container *ngFor="let p of price">
            <mat-radio-button *ngIf="p.valid" (change)="checkPrice(p)" [value]="p.name" [checked]="p.checked"
              style="margin: 15px">{{p.name}}</mat-radio-button>
          </ng-container>
        </mat-radio-group>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div fxFlex="80">
    <div fxLayout="row wrap" fxLayoutAlign="space-between centre">
      <app-gift-card fxFlex="30" fxFlex.lt-md="45" fxFlex.lt-sm="100" *ngFor="let gift of gifts" [data]="gift"
        style="margin:10px" align="center"></app-gift-card>

    </div>
    <button mat-button (click)="loadMore()">Load more...</button>
  </div>
</div>