<form [formGroup]="AddForm" *ngIf="data.message === 'addcard'">
    <h1 mat-dialog-title>Add New gift Card</h1>
    <div>
        <mat-form-field style="width: 100%;">
            <input matInput type="text" required placeholder="Name" formControlName="name">
            <mat-error *ngIf="AddForm.controls.name.hasError('required')">This is required</mat-error>
        </mat-form-field>

        <mat-form-field style="width: 100%;">
            <input matInput type="text" required placeholder="Brand" formControlName="brand">
            <mat-error *ngIf="AddForm.controls.brand.hasError('required')">This is required</mat-error>
        </mat-form-field>

        <mat-form-field style="width: 100%;">
            <textarea matInput type="text" required placeholder="Description" formControlName="desc"></textarea>
            <mat-error *ngIf="AddForm.controls.desc.hasError('required')">This is required</mat-error>
        </mat-form-field>

        <mat-form-field style="width: 100%;">
            <input matInput type="text" required placeholder="ImageURL" formControlName="imageUrl">
            <mat-error *ngIf="AddForm.controls.imageUrl.hasError('required')">This is required</mat-error>
        </mat-form-field>

        <mat-form-field required style="width: 100%;">
            <input matInput placeholder="Buyout Points" type="text" formControlName="buyoutPoints">
            <mat-error *ngIf="AddForm.controls.buyoutPoints.hasError('required')">This is required</mat-error>
            <mat-error *ngIf="AddForm.controls.buyoutPoints.hasError('pattern')">Only numbers allowed</mat-error>
            <mat-error *ngIf="AddForm.controls.buyoutPoints.hasError('maxlength')">Please enter a value below 99999</mat-error>
        </mat-form-field>

        <mat-form-field required style="width: 100%;">
            <input matInput placeholder="Rating" type="text" formControlName="rating">
            <mat-error *ngIf="AddForm.controls.rating.hasError('required')">This is required</mat-error>
            <mat-error *ngIf="AddForm.controls.rating.hasError('pattern')">Kindly enter a valid rating example: 4</mat-error>
            <mat-error *ngIf="AddForm.controls.rating.hasError('maxlength')">Kindly enter a valid rating example: 4</mat-error>
        </mat-form-field>

        <mat-form-field required style="width: 100%;">
            <input matInput placeholder="Discounts" type="text" formControlName="discounts">
            <mat-error *ngIf="AddForm.controls.discounts.hasError('required')">This is required</mat-error>
            <mat-error *ngIf="AddForm.controls.discounts.hasError('pattern')">Enter a valid percentage eg: 98%</mat-error>
            <mat-error *ngIf="AddForm.controls.discounts.hasError('maxlength')">Too many characters, Enter a percentage from 1 - 99</mat-error>
        </mat-form-field>

        <br><br>

        <mat-form-field required style="width: 100%;">
            <mat-label>Category Id</mat-label>
            <mat-select formControlName="categoryId">
                <mat-option *ngFor="let c of category" [value]="c.id">
                    {{ c.name }}
                </mat-option>
            </mat-select>            
            <mat-error *ngIf="AddForm.controls.categoryId.hasError('required')">This is required</mat-error>
        </mat-form-field>

    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="savecard(AddForm.value)" [disabled]="!AddForm.valid">Save</button>
        <button mat-button (click)="close()">Cancel</button>
    </div>
</form>

<form [formGroup]="TopupForm" *ngIf="data.message === 'topup'">
    <h1 mat-dialog-title>Top Up</h1>
    <div>
        <mat-form-field style="width: 100%;">
            <input matInput placeholder="Add points to topup" type="text" formControlName="addpoints">
            <mat-error *ngIf="TopupForm.controls.addpoints.hasError('required')">This feild is required</mat-error>
            <mat-error *ngIf="TopupForm.controls.addpoints.hasError('pattern')">Only numbers allowed</mat-error>
            <mat-error *ngIf="TopupForm.controls.addpoints.hasError('maxlength')">Please enter a value below 99999</mat-error>

            
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="AddPoints()" [disabled]="!TopupForm.valid">Save</button>
        <button mat-button (click)="close()">Cancel</button>
    </div>
</form>