<mat-card>
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="30">
            <img [src]="user.image" [alt]="user.name" class="imgLayout">
        </div>
        <div fxFlex="70">
            <mat-card-header>
                <mat-card-title>{{user.name}}</mat-card-title>
                <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
                <mat-card-title>Balance points : {{user.balancePoints}}</mat-card-title>
            </mat-card-header>
            <div style="height: 30px"></div>
            <mat-card-action>
                <button mat-raised-button color="primary" class="button button--border-thick button--aylen button--border-thin button--round-s" (click)="topup()" style="margin:15px">Top up</button>
                <button mat-raised-button color="primary" class="button button--border-thick button--aylen button--border-thin button--round-s" routerLink="/gifts/favorite">Favorites</button>
            </mat-card-action>
        </div>
    </div>
</mat-card>

<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Sent gifts">
        <mat-card *ngIf="sentGifts.length === 0" class="nofav"> You have not sent any Gifts !!! </mat-card>
        <mat-card *ngFor="let sentGift of sentGifts" style="margin:10px">
            <mat-card-header>
                <mat-card-title>Gift name: {{sentGift.giftName}}</mat-card-title>
                <mat-card-title>Receiver: {{sentGift.receiverEmail}}</mat-card-title>
            </mat-card-header>
            <mat-action-row>
                <button mat-raised-button color="primary" class="button button--border-thick button--aylen button--border-thin button--round-s" style="margin:15px" (click)="onGiftAction(sentGift.giftId)"> DETAILS </button>
                <button mat-raised-button color="primary" style="margin:15px" (click)="rateAndReview(sentGift.giftId)" class="button button--border-thick button--aylen button--border-thin button--round-s"> RATE & REVIEW </button>
            </mat-action-row>
        </mat-card>
    </mat-tab>
    <mat-tab label="Received gifts">
        <mat-card *ngIf="receivedGifts.length === 0" class="nofav"> You have not received any Gifts !!! </mat-card>
        <mat-card *ngFor="let receivedGift of receivedGifts" style="margin:10px">
            <mat-card-header>
                <mat-card-title>Gift name: {{receivedGift.giftName}}</mat-card-title>
                <mat-card-title>Sender: {{receivedGift.senderEmail}}</mat-card-title>
            </mat-card-header>
            <mat-action-row>
                <button mat-raised-button color="primary" class="button button--border-thick button--aylen button--border-thin button--round-s" style="margin:15px" (click)="onGiftAction(receivedGift.giftId)"> DETAILS </button>
                <button mat-raised-button color="primary" style="margin:15px" (click)="rateAndReview(receivedGift.giftId)" class="button button--border-thick button--aylen button--border-thin button--round-s"> RATE & REVIEW </button>
            </mat-action-row>
        </mat-card>
    </mat-tab>
</mat-tab-group>