/* Aylen */

.button.button--aylen {
    background: #3f51b5;
    color: #fff;
    overflow: hidden;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.button--aylen.button--inverted {
    background: none;
    color: #fff;
}

.button--aylen::before,
.button--aylen::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--aylen::before {
    background: #7986cb;
}

.button--aylen::after {
    background: rgba(35, 35, 39, 0.747);
}

.button--aylen:hover {
    color: #fff;
}

.button--aylen:hover::before,
.button--aylen:hover::after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.button--aylen:hover::after {
    -webkit-transition-delay: 0.175s;
    transition-delay: 0.175s;
}

.button--border-thick {
    border: 2px solid;
}
