<div style="margin: 16px;text-align: center; margin-top: 5%;">
    Your gift is redeemed successfully !!!
</div>
<div style="margin: 16px; text-align: center; margin-top: 2%;">
    Thank you for using YOYOGIFT !!!
</div>
<div style="text-align: center;">
    <a href="https://yoyogifts301.firebaseapp.com/"> HOME </a>
</div>