<div *ngIf="data.message === 'giftnow'">
    <form novalidate [formGroup]="receiverForm">
        <!-- (ngSubmit)="sendEmail() -->
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Receiver Name" formControlName="receiverNameControl" required>
                <mat-error *ngIf="receiverEmail.invalid">{{getReceiverNameError()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Receiver Email" formControlName="receiverEmailControl" required>
                <mat-error *ngIf="receiverEmail.invalid">{{getReceiverEmailError()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="example-container">
            <mat-form-field>
                <textarea matInput placeholder="Message" formControlName="messageControl" required></textarea>
                <mat-error *ngIf="message.invalid">{{getMessageError()}}</mat-error>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button [mat-dialog-close]="receiverForm.value" mat-raised-button color="primary" [disabled]="receiverForm.invalid">
        SEND
      </button>
            <button type="button" mat-raised-button color="primary" (click)="close()">Cancel</button>
        </div>
    </form>
</div>

<div *ngIf="data.message === 'ratenow'">
    <div>
        <mat-label> Rating: </mat-label>
        <div class="star-rating">

            <input type="radio" name="5_rating" value="5" [checked]="rating === 5" />
            <label for="5-stars" class="star" (click)='onClick(5)'>&#x02605;</label>

            <input type="radio" name="4_rating" value="4" [checked]="rating === 4" />
            <label for="4-stars" class="star" (click)='onClick(4)'>&#x02605;</label>

            <input type="radio" name="3_rating" value="3" [checked]="rating === 3" />
            <label for="3-stars" class="star" (click)='onClick(3)'>&#x02605;</label>

            <input type="radio" name="2_rating" value="2" [checked]="rating === 2" />
            <label for="2-stars" class="star" (click)='onClick(2)'>&#x02605;</label>

            <input type="radio" name="1_rating" value="1" [checked]="rating === 1" />
            <label for="1-star" class="star" (click)='onClick(1)'>&#x02605;</label>

        </div>
    </div>
    <form novalidate [formGroup]="reviewForm">
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Your Review" formControlName="reviewControl" required>
                <mat-error *ngIf="reviewForm.invalid">{{getReviewError()}}</mat-error>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button [mat-dialog-close]="{review: reviewForm.value,rating: rating}" mat-raised-button color="primary" [disabled]="reviewForm.invalid">
        SUBMIT
      </button>
            <button type="button" mat-raised-button color="primary" (click)="close()"> REVIEW LATER </button>
        </div>
    </form>
</div>

<div *ngIf="data.message === 'viewrate'">
    <div>
        <mat-label> Your Rating: </mat-label>
        <div class="star-rating">

            <input type="radio" name="5_rating" value="5" [checked]="rating === 5" />
            <label for="5-stars" class="star">&#x02605;</label>

            <input type="radio" name="4_rating" value="4" [checked]="rating === 4" />
            <label for="4-stars" class="star">&#x02605;</label>

            <input type="radio" name="3_rating" value="3" [checked]="rating === 3" />
            <label for="3-stars" class="star">&#x02605;</label>

            <input type="radio" name="2_rating" value="2" [checked]="rating === 2" />
            <label for="2-stars" class="star">&#x02605;</label>

            <input type="radio" name="1_rating" value="1" [checked]="rating === 1" />
            <label for="1-star" class="star">&#x02605;</label>

        </div>
    </div>
    <form novalidate>
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Your Review" [value]="oldReview" readonly>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="close()" style="margin: auto;">
        Close
      </button>
        </div>
    </form>
</div>