.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}


/* component */

.star-rating {
    border: 0;
    display: flex;
    flex-direction: row-reverse;
    font-size: 2em;
    justify-content: auto;
    text-align: center;
    width: 5em;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: rgb(128, 128, 128);
    cursor: pointer;
}

.star-rating :checked~label {
    color: rgb(255, 212, 59);
}

.star-rating :hover~label {
    color: rgb(250, 176, 5);
}

body {
    background-color: rgb(50, 50, 50);
}