<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space between center">
    <div fxFlex="50" align="center">
        <button mat-button class="header-logo"> &copy; 2019 - 2020 YoYoGift Ltd</button>
    </div>
    <div fxFlex="50" align="center">
            <button mat-button (click)="switchLanguage()">Translate: {{langButton | uppercase }}</button>
    </div>
</div>