.p-1 {
    padding: 8px;
}

.p-2 {
    padding: 16px;
}

.p-3 {
    padding: 24px;
}

.p-4 {
    padding: 32px;
}

.p-5 {
    padding: 40px;
}

.color {
    color: #2874f0;
}

.m-1 {
    margin: 8px;
}

.m-1 {
    margin: 8px;
}

.mt-1 {
    margin-top: 8px;
}

.mt-2 {
    margin-top: 16px;
}

.ml-1 {
    margin-left: 8px;
}

.brand {
    margin-top: 12px;
    color: #878787;
    font-size: 16px;
    display: block;
    font-weight: 500;
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
    line-height: 1.4;
}

.name {
    font-size: 28px;
    vertical-align: sub;
    display: inline-block;
    font-weight: 500;
    color: #212121;
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
    line-height: 1.4;
}

.points {
    padding: 0;
    line-height: 1.4;
    font-size: inherit;
    font-weight: inherit;
    display: inline-block;
    color: #212121;
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
}

.special {
    color: #212121;
    font-weight: 500;
    padding-right: 4px;
    line-height: 1.43;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
}

.normal {
    line-height: 1.43;
    color: #212121;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
}

.star {
    height: 12px;
    margin: 0 0 0 4px;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

.rating {
    padding: 2px 7px;
    border-radius: 14px;
    font-size: 14px;
    background-color: #26a541;
    vertical-align: baseline;
    line-height: normal;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
}

.center {
    text-align: center;
}

.cart {
    padding: 18px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    width: 98%;
    border: none;
    float: left;
    background: #ff9f00;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    vertical-align: super;
    cursor: pointer;
    outline: none;
}

.heart {
    padding: 18px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    width: 98%;
    border: none;
    float: left;
    background: #fb641b;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    vertical-align: super;
    cursor: pointer;
    outline: none;
}

.spinner {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.m-2 {
    margin: 16px;
}

.image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 500px;
}

.example-header-image {
    background-size: cover;
}


/* Aylen */

.button.button--aylen {
    background: #3f51b5;
    color: #fff;
    overflow: hidden;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.button--aylen.button--inverted {
    background: none;
    color: #fff;
}

.button--aylen::before,
.button--aylen::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--aylen::before {
    background: #7986cb;
}

.button--aylen::after {
    background: rgba(35, 35, 39, 0.747);
}

.button--aylen:hover {
    color: #fff;
}

.button--aylen:hover::before,
.button--aylen:hover::after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.button--aylen:hover::after {
    -webkit-transition-delay: 0.175s;
    transition-delay: 0.175s;
}

.button--border-thick {
    border: 2px solid;
}

img {
    max-width: 100%;
    max-height: 100%;
}