<div class="spinner" *ngIf="isLoading">
    <span>
        <app-loader></app-loader>
    </span>
</div>

<div fxLayout="row" class="p-2" fxLayout.sm="column" fxLayout.lt-md="column" style="margin-bottom: 1%;">
    <div fxFlex="50">
        <img class="image" [src]="currentGift.imageUrl" [title]="currentGift.name" onerror="this.src='../../../assets/images/fallback.png'" />
        <div fxLayout="row">
            <div fxFlex class="center m-1">
                <button mat-raised-button color="primary" class="button button--border-thick button--aylen button--border-thin button--round-s" (click)="openDialogForGiftNow()" style="margin:15px">
                    <i class="material-icons" style="font-size: 18px;"> local_grocery_store </i> GIFT NOW
                </button>
            </div>
            <div fxFlex class="center m-1">
                <button mat-raised-button color="primary" class="button button--border-thick button--aylen button--border-thin button--round-s" (click)="addToFavorite(currentGift.id)" style="margin:15px">
                    <i class="material-icons" style="font-size: 18px;"> favorite </i> ADD TO FAV
                </button>
            </div>
        </div>
    </div>

    <div fxFlex="50" class="ml-1">
        <div fxLayout="row">
            <div class="brand"> {{ currentGift.brand }} </div>
        </div>
        <div fxLayout="row" class="mt-1">
            <div class="name">
                {{ currentGift.name }}
            </div>
        </div>
        <div fxLayout="row" class="mt-1">
            <div>
                <div fxLayout="row">
                    <div class="special"> POINTS: {{ currentGift.buyoutPoints }} </div>
                </div>
            </div>
        </div>

        <div fxLayout="row" class="mt-2">
            <div class="normal"> {{ currentGift.desc }} </div>
        </div>

        <div fxLayout="row" class="mt-1" *ngIf="currentGift.rating">
            <div class="rating"> Rating:
                <span class="star"> {{ currentGift.rating }} <i class="material-icons" style="font-size: 14px;"> grade
                    </i> </span>

            </div>
        </div>
        <mat-divider class="m-2"></mat-divider>
        <div fxLayout="row" class="mt-1" *ngIf="reviews.length!==0">
            <div class="special"> REVIEWS BY USERS: </div>
        </div>
        <div fxLayout="row" class="mt-1" *ngFor="let review of reviews" style="margin-bottom: 5%">
            <div class="special" style="width: 100%">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar>
                            <i class="material-icons"> person </i>
                        </div>
                        <mat-card-title> {{ review.userName | uppercase }} </mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row">
                        <div fxFlex="10"> </div>
                        <div fxFlex="90" class="special">
                            <mat-card-content class="mt-1">
                                <p>
                                    {{ review.review }}
                                </p>
                            </mat-card-content>
                        </div>
                    </div>

                </mat-card>
            </div>
        </div>
    </div>
</div>