<mat-tab-group>
  <mat-tab label="User Statistics">
    <table mat-table [dataSource]="allUserData" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="balancePoints">
        <th mat-header-cell *matHeaderCellDef> Balance Points </th>
        <td mat-cell *matCellDef="let element"> {{element.balancePoints}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumn1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumn1;"></tr>
    </table>
  </mat-tab>


  <mat-tab label="Admin Statistics">
    <table mat-table [dataSource]="allAdminData" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumn2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumn2;"></tr>
    </table>
  </mat-tab>
</mat-tab-group>