<div id="scroll-top" tabindex="-1"></div>
<app-header class="container"></app-header>
<div style="width: 100%; height:128px"></div>
<mat-progress-bar mode="indeterminate" *ngIf="loader" style="position: fixed; top:128px"></mat-progress-bar>
<router-outlet (activate)="routetoTop()"></router-outlet>
<div style="width:100%; height:100px"></div>
<app-footer></app-footer>