<div class="carousel-wrapper" style="height: 40%; width:100%">
  <span id="target-item-1"></span>
  <span id="target-item-2"></span>
  <span id="target-item-3"></span>

  <div class="carousel-item item-1" style="background-image: url('https://d1yn1kh78jj1rr.cloudfront.net/image/preview/SYzUDxycWj7aomv6b/storyblocks-cyber-monday-sale-horizontal-poster-or-banner-for-seasonal-discounts-black-box-with-realistic-silk-blue-bow-on-code-background-sale-concept-vector-illustration_S40gIJBoQ_SB_PM.jpg')">
    <h2 style="color: white;">Spot discounts</h2>
    <p style="color: white;">Get discount at you pay outs</p>
    <a class="arrow arrow-prev" href="#target-item-3"></a>
    <a class="arrow arrow-next" href="#target-item-2"></a>
  </div>
  <div class="carousel-item item-2 light" style="background-image: url('https://st3.depositphotos.com/7901612/18911/v/1600/depositphotos_189119646-stock-illustration-banner-amazing-shopping-horizontal-vector.jpg')">
    <h2 style="color: cadetblue;">Online sale !</h2>
    <p style="color: cadetblue;">Just one step ahead get upto 70% discount</p>
    <a class="arrow arrow-prev" href="#target-item-1"></a>
    <a class="arrow arrow-next" href="#target-item-3"></a>
  </div>
  <div class="carousel-item item-3" style="background-image: url('https://d1yn1kh78jj1rr.cloudfront.net/image/preview/rnp9KOKvfjdviiioz/storyblocks-online-shopping-horizontal-concept-cartoon-illustration-of-online-shopping-banner-horizontal-vector-for-web_r-HKPlGalm_SB_PM.jpg')">
    <h2 style="color: lightcoral;">Flat Discount!!</h2>
    <p style="color: lightcoral;">50% flat discount on Credit card payment</p>
    <a class="arrow arrow-prev" href="#target-item-2"></a>
    <a class="arrow arrow-next" href="#target-item-1"></a>
  </div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="space-between centre">
  <app-gift-card fxFlex="30" fxFlex.lt-md="45" fxFlex.lt-sm="100" *ngFor="let gift of gifts" [data]="gift" style="margin:10px" align="center"></app-gift-card>
</div>



  