// .overlay {
//   position: fixed;
//   width: 100vw;
//   height: 100vh;
//   top: 0;
//   left:0;
//   z-index: 1000;
//   background-color: gray;
// }

.carousel-wrapper {
  position: relative;

  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    border: 1px solid #aaa;

    .arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: url("http://haloxp.com/codepen/carousel-arrow-dark.png") 50% 50% / 20px no-repeat;

      &.arrow-prev {
        left: 0;
      }

      &.arrow-next {
        right: 0;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
      }
    }

    &.light {
      color: white;

      .arrow {
        background: url("http://haloxp.com/codepen/carousel-arrow-light.png") 50% 50% / 20px no-repeat;
      }
    }

    @media (max-width: 480px) {
      .arrow, &.light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }
  }

  [id^="target-item"] {
    display: none;
  }

  .item-1 {
    z-index: 2;
    opacity: 1;
  }

  *:target ~ .item-1 {
    opacity: 0;
  }

  #target-item-1:target ~ .item-1 {
    opacity: 1;
  }

  #target-item-2:target ~ .item-2, #target-item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }
}

.carouselimg{
   min-width: 0;
}

.material-icons {
  margin-top: 320%;
  margin-left: 55%;
}

.parentContainer{
  margin-top:0%; 
  margin-right: 7%; 
  margin-bottom:7%; 
  margin-left:7%
}