<form>
  <mat-form-field class="example-full-width" floatLabel="never" style="font-size: 15px">
    <input matInput (keydown.enter)="routeTosearchResult($event)" type="text" placeholder="Search for product"
      aria-label="Number" [formControl]="SearchControl" [matAutocomplete]="auto">
    <mat-icon matSuffix style="font-size: 15px">search</mat-icon>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option.name">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>