<mat-toolbar class="bg-cornflowerblue">
  <div class="container">
    <button mat-button *ngFor="let navLink of navLinks; let i = index" [ngStyle]=" i === activeIndex ? {'background-color': '#ca332e', 'color': '#fff'} : ''"
      (click)="routeToGiftPage(navLink.id);setActiveIndex(i)">
      {{navLink.name}}
    </button>
  </div>
</mat-toolbar>


<!-- [ngStyle]=" i === activeIndex ? {'background-color': '#ca332e', 'color': '#fff'} : ''" -->